Private IP exposure of ELB when making http1.0 requests

Thanks for submitting an issue to `gorouter`. We are always trying to improve! To help us, please fill out the following template.

## Issue

[provide quick introduction so this issue can be triaged]
When a request is made which uses http1.0 with an empty host header, it seems to expose the internal IP address of the ELB.


[tell us about how this impacts your users or production or dev environments, to help us prioritize]
This is a private IP disclosure and doesn't otherwise impact our customers.

## Context

[provide more detailed introduction]
We use v12.0.0 cf-deployment and our environment is behind classic AWS ELB's.

## Steps to Reproduce

[ordered list the process to finding and recreating the issue, example below]
A simple curl is enough to expose the internal IP of the elb:

`$ curl --http1.0 https://foo.cloud.pcftest.com -H 'Host: '`
`404 Not Found: Requested route ('10.10.2.218') does not exist.`

## Expected result

[describe what you would expect to have resulted from this process]
I would expect not to see the internal IP address in the return result

## Current result

[describe what you you currently experience from this process, and thereby explain the bug]
I see what looks like the internal IP address of the ELB in the 404 return result.

Our routers are on 10.10.16.0/20 and 10.10.80.0/20 networks. Our ELB's are on the 10.10.2.0/24 network, which is why I think this request is exposing an ELB IP address.

## Possible Fix

[not obligatory, but suggest fixes or reasons for the bug]

## `name of issue` Output Results

[if relevant, include a screenshot]


We have created an issue in Pivotal Tracker to manage this: 

https://www.pivotaltracker.com/story/show/169365136 

The labels on this github issue will be updated when the story is started.

The `Host` header is used to do the lookup of the backend by the GoRouter. Since GoRouter cannot process a request that is lacking a `Host` header, I think it would make sense to follow the same behavior for HTTP/1.1. The server is expected to respond with a `400 (Bad Request)` in this case. This is outlined in [RFC7230 section 5.4](https://tools.ietf.org/html/rfc7230#section-5.4). 

I took a look at this and raised #257, there are two cases to look at here:

1. Gorouter receives a HTTP/1.0 request directly, where the Host header is omitted.

2. Gorouter receives a request, where the Host header is set, but it is the same (except for the port) as the IP address of the source IP address of the HTTP request; IP addresses are not valid routes anyway.

@pusherofbrooms I merged the related PR and this should come out in the next routing-release version, once everything passes acceptance. Thanks for reporting the issue!

@tlwr Thanks for the fix :D