Return a 404 instead of 502 in proxy request handler when no endpoints are available

## Issue

[This code](https://github.com/cloudfoundry/gorouter/blob/3bf551bf37e6105ac6c689fd5390d57ec4ea8c55/proxy/handler/request_handler.go#L191-L192) in the proxy request handler causes a `502` status code to be returned when requests to an evacuating app are made between route deregistration on one cell and registration on the new cell.

## Steps to Reproduce

This has caused intermittent flakes in the Diego CI pipeline [rolling upgrade tests](https://github.com/cloudfoundry/diego-upgrade-stability-tests/blob/e533188689c6cf009210d80dbdcf528ad8b75d48/rolling_upgrade_test.go#L88-L101) (CI runs [#256](https://diego.ci.cf-app.com/teams/main/pipelines/main/jobs/upgrade-routability-tests-from-v1.25.2/builds/256) and [#255](https://diego.ci.cf-app.com/teams/main/pipelines/main/jobs/upgrade-routability-tests-from-v1.25.2/builds/255)). This can be reproduced however by pushing a single instance of an app to a CF with multiple Diego cells. If the route deregistration of an app being rescheduled completes before the route registration occurs during app evacutation for example, you will see this occur. Stop the Diego cell the app is running on and simultaneously `curl` the app and you will receive a `502` status code while the app is being rescheduled on another cell and the route is reregistered there.

## Expected result

When an app instance is scheduled from one cell to another and the route is deregistered, requests to the app return a `404` status code before the route is registered on the new cell.

## Current result

When an app instance is scheduled from one cell to another and the route is deregistered, requests to the app return a `502` status code before the route is registered on the new cell.

## Possible Fix

Return a `404` status code instead of `502` when there are no endpoints available in the [`serveTcp` method](https://github.com/cloudfoundry/gorouter/blob/3bf551bf37e6105ac6c689fd5390d57ec4ea8c55/proxy/handler/request_handler.go#L192).

We have created an issue in Pivotal Tracker to manage this: 

https://www.pivotaltracker.com/story/show/158736357 

The labels on this github issue will be updated when the story is started.

hey @sunjayBhatia - such a thorough issue (really appreciate that btw). I want to understand how changing the error codes helps the diego teams tests? Are you all looking explicitly for a 404 and any other error is just not right (the test blows up because of it).

@zachgersh we expect that during the upgrade the app instance should be routable and return `200`s but there is some tolerance for getting `404`s ([here](https://github.com/cloudfoundry/diego-upgrade-stability-tests/blob/86af7e110dfd1de9e26632cebc8b7253e09e78c8/poller_test.go#L72-L92)) and none for `502`s.

Some more context on this came from this slack thread as well: https://cloudfoundry.slack.com/archives/C05586PBX/p1530298212000294

@shalako @shubhaat I see more 502 issues coming our way, and it'd be great to add a story to clarify and publicize the intended behavior or fix this to meet Diego's availability requirements.

I don't think this is blocking us, it was more of an intermittent oddity that caused some flakes (not many) in our pipeline when route registration messages were slow that we wanted to clarify the behavior around

I guess at a higher level, to get at the intentionality of why a `502` vs. `404` is returned, we have this comment in slack: https://cloudfoundry.slack.com/archives/C05586PBX/p1530299322000106?thread_ts=1530298212.000294&cid=C05586PBX but again it seems up to the router to determine what it means when there *should* be a route for an app but there isn't one at the moment (e.g. during evacuation)

Anyways, I don't think this is a high priority for us now, I can close this if your feelings are to still return a `502` to the user in this scenario

We could explore why we're not returning a 404 in this case; it seems to me like we should. However, it also sounds like it isn't a high priority. Unless Diego begins registering the new cell before deregistering the old one, I don't think we can commit to zero-downtime with one app instance.

Yeah, with one instance, zero downtime is totally dependent on ActualLRP events + route registration messages getting to components in time, in practice ActualLRP creation are generated first, but the order they get to cell's local route emitters is non deterministic

The route-registration and -unregistration messages used to have a more reliable order of transmission with the route-emitter operating in "global" mode, and given that Copilot will have a similarly central role in the Istio-based routing control-plane. Consequently, I don't think it's a high priority to resolve this concurrency issue with the cell-local route-emitters, but if we on the Diego team can think of a straightforward solution on the emission side we may go ahead and do it.

Regardless, there's still the question of which HTTP status code the gorouter should return if it has no backends currently registered for a route. I'm trying to reason about whether a 4XX client-error code or a 5XX server-error code would be most appropriate here, and I'm kind of leaning towards a 5XX error since this is an availability/coordination problem on the part of the server writ large (gateways together with backends), and not a missing resource on an actual target backend. Based on the "invalid response from an inbound server" phrase in [RFC 7213 §6.6.3](https://tools.ietf.org/html/rfc7231#section-6.6.3), 502 doesn't seem quite right to me, because the gorouter doesn't even have a particular upstream backend to which to proxy. Maybe a [503 status code](https://tools.ietf.org/html/rfc7231#section-6.6.4) would be more appropriate to indicate the unavailability of any backend for a host? That 503 status code may also align better with the status codes that, for example, [Envoy returns based on the health-check status of upstream clusters](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/health_checking#http-health-checking-filter).

503 also makes sense to me. Our integration with Istio and Envoy for platform ingress already returns a 503. Think we can punt on a fix in Gorouter, in favor of Istio+Envoy?

Hi all, 

We are closing this issue due to inactivity. If this is still an issue, please feel free to reopen with more information about its impact.

Thanks, 
@barakyo and @bruce-ricard, CF Networking Program Members